nav .navbar-nav li a{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #8839FF;
}

nav .navbar-nav li a:hover
{
  background-color:  #8839FF !important;
}